.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;

    img {
        position: absolute;
        top: 15px;
        right: 5px;
    }

    .links {
        margin-left: auto;

        a {
            margin-left: 16px;
            text-decoration: none;
            padding: 6px;
        }

        a:hover {
            color: #f1356d;
        }
    }

    h1 {
        color: #f1356d;
    }


}